@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
  }

.seccion {
    height: 100vh;
    width: 100%;
}

#logo img {
    height: 50px;
}

#logo h3 {
    color: rgb(255,255,255);
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    
}

header {
    height: 8vh;
    
    display: flex;
    justify-content: space-around;
    /* *background-color: rgb(242, 242, 242); */
    background: linear-gradient(-3deg,rgba( 48, 68, 128) -10%, rgba(58, 78, 138) 35%,	rgb(38, 58, 118) 90%);
    box-shadow: 0px 2px 6px 1px whitesmoke;
    z-index: 3;
}

header #logo {
    height: 100%;
    width: 33%;
    display: flex;
    align-items: center;
    animation-name: movimiento;
    animation-duration: 1000ms ;
    animation-fill-mode: backwards;
    
}

header nav {
    height: 100%;
    width: 60%;
    *background-color: brown;
    display: flex;
    justify-content: flex-end;
    animation-name: movimiento2;
    animation-duration: 1000ms ;
    animation-fill-mode: backwards;
}

header nav ul {
    height: 100%;
    width: 60%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    *background-color: darkgoldenrod;
}

header button{
    /* *position: absolute;
    *top: 0;
    *left: 16px; */
    transform: translateY(-100%);
    *z-index: 9;
    border: none;
    background: transparent;
    
}

nav ul li a {
    text-decoration: none;
    color: rgb(255,255,255);
    text-shadow: 0px -1px black;
    letter-spacing: 2px;
    font-family: 'Ubuntu', sans-serif;
    transition: 0.4s all; 
    
}

nav ul li {
   *background-color: darkmagenta;
    
}

nav ul li a::before {
    margin-right: 5px;
    content: "[";
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}

nav ul li a::after {
    margin-left: 5px;
    content: "]";
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}

nav ul li a::before,
nav ul li a::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

nav ul li a:hover::before,
nav ul li a:hover::after,
nav ul li a:focus::before,
nav ul li a:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}

nav ul li a:hover{
    color: rgb(179, 184, 199);
    
}

nav ul li a:active{
    color: rgb(179, 184, 199);
    
}

.primera{
    background: linear-gradient(-3deg,rgba(	140, 166, 241, 0.1) -10%, rgba(150, 176, 251) 35%,rgba(155, 181, 255 ) 90%);
}

#slider{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    *box-shadow: 3px 3px 3px 1px black;
    min-width: 300px;
    height: 65vh;
    
}

#slider ul{
    display: flex;
    width: 400%;
    animation: cambio 13s infinite alternate;
    animation-timing-function: ease-in-out;
    
}

#slider ul:hover{
    animation-play-state: paused;
    cursor: pointer;
}

#slider li{
    width: 100%;
    list-style: none;
}

#slider img{
    
    width: 77%;
    height: 600px;
}

#containSlide{
    animation-name: movimiento3;
    animation-duration: 1000ms ;
    animation-fill-mode: backwards;
    margin-top: 2px;
    *padding-right: 5px;
    /* background: linear-gradient(-3deg,rgba(	140, 166, 241, 0.1) -10%, rgba(150, 176, 251) 35%,rgba(155, 181, 255 ) 90%); */
    display: flex;
    justify-content: center;
    background-color: black;
}

#marquesina{
    height: 12%;
    width: 30%;
    padding: 10px;
    margin: 0 auto;
    word-wrap: break-word;
    text-align: center;
    letter-spacing: 4px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 6px;
    position: absolute;
    top: 80%;
    left: 45%;
    transform: translateX(-45%);
    animation-name: movimiento4;
    animation-duration: 1000ms ;
    animation-fill-mode: backwards;
    
}

.segunda{
    background-color: rgba(99, 164, 214, 0.97);
    text-align: center;
    padding-top: 0.3em;
}

.segunda div h1 {
    font-family: 'Stalinist One', cursive;
    font-size: 1.5rem;
    letter-spacing: 3px;
    color: whitesmoke;
    opacity: 0.93;
}

.productos {
    height: 43vh;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.segunda article:first-of-type{
    margin-top: 0.3em;
}

.segunda article:last-child{
    background-color: rgba(99, 164, 214, 0.9);
}

.tarjeta{
    height: 100%;
    width: 18%;
    border-radius: 8px;
    border: 0.8px solid white;
    padding-top: 4px;
    min-width: 150px;
    max-width: 200px;
    cursor: pointer;
    background-color: rgba(99, 164, 214, 0.6);;
    transition: 0.3s all;
    opacity: 0.8;
    
}

.tarjeta .foto{
    height: 72%;
    width: 98%;
    *opacity: 0.75;
    border-radius: 8px;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.tarjeta .descripcion{
    height: 27%;
    margin-top: 4px;
    display: flex;
    border-radius: 6px;
    border: 0.5px solid white;
}

.tarjeta .descripcion p{
    margin: auto;
    color: whitesmoke;
    font-family: 'Big Shoulders Stencil Display', cursive;
    letter-spacing: 3px;
}

.tarjeta:hover{
    height: 101%;
    border: 3px solid white;
    opacity: 1;
    
}

.segunda article:last-child{
    padding: 0;
}

#tejida{
    background-image: url(img/tejida.jpg);
}

#extruida{
    background-image: url(img/extruida.jpg);
}

#protectora{
    background-image: url(img/protectora.jpg);
}

#garlic{
    background-image: url(img/garlic.jpg);
}

#precintos{
    background-image: url(img/precintos.jpg);
}

#esponja{
    background-image: url(img/esponja1edit.jpg);
}

.tercera{
    *background-image: url(img/fondoNegroRed.jpg);
    background: linear-gradient(-3deg,rgba(	140, 166, 241, 0.1) -10%, rgba(150, 176, 251) 35%,rgba(155, 181, 255 ) 90%);
    color:black;
    display: flex;
    flex-direction: column;
   justify-content: space-around;
   align-items: center;
   background-repeat: no-repeat;
   background-size: 100%;
}

.tercera h2{
    margin: 10px 0 20px 0;
    font-family: 'Stalinist One', cursive;
    letter-spacing: 3px;
    font-size: 1.5rem;
}

.contain{
    height: 20vh;
    width: 94%;
    margin: 2px auto;
    *background-color: red;
}

.p2, .p4{
    display: flex;
    justify-content: flex-end;
}

.p2, .p3, .p4{
    *height: 22vh;
}
/**************************************
.p1{background-color: blue;}
.p2{background-color: green;}
.p3{background-color: yellow;}
.p4{background-color: brown;}
****************************************/

.parrafo{
    height: 100%;
    width: 54%;
    min-width: 520px;
    background-color: gray;
    padding: 15px 5px 0 5px;
    text-align: center;
    border-radius: 8px;
    color: white;
    letter-spacing: 0.5px;
    line-height: 25px;
    background-image: url(img/fondoNegroRed.jpg);

}

.first{
    *width: 47%;
    font-size: 0.89rem;
}

.resto{
    padding-top: 20px;
    line-height: 30px;
}

#modal {
    position: absolute;
    display: flex;
    display: none;
    top: 100vh;
    height: 100vh;
    width: 100%;
    padding-top: 13px;
    background-color: rgba(0, 0, 0, 0.6);
    align-items: center;
}

#ventana{
    
    margin: 0 auto 0 10%;
    height: 95vh;
    width: 80%;
    background-color: whitesmoke;
    border-radius: 8px;
    background-image: url(img/cube-background-2484131_1920.jpg);
    *background-position: 210% 340%;/*fondoEjecutivo*/
    background-position: center center;
    overflow: auto;
}

#cerrarModal{
    height: 37px;
    width: 60px;
    align-self: flex-start;
    margin-right: 50px;
    background-color: tomato;
    color: white;
    border: 2px solid white;
    border-radius: 4px;
    font-size: 0.80rem;
    cursor: pointer;
}

#imagenes{
    height: 57%;
    *background-color: tomato;
    display: flex;
    justify-content: space-between;
    padding-right: 10%;
    border-radius: 8px;
    *background-image: url(img/fondoRedRoja.jpg);
}

#imagenes h1 {
    color: white;
    align-self: center;
}

.slider{
    width: 45%;
    height: 380px;
    position: relative;
    top: 20px;
    left: 10%;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-shadow: 0 0 0 2px,
                0 5px 8px;
  }

  .slider img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.7s;
  }

  .slider input[type="radio"]{
    display: none;
  }
  
  
  .slider input[type="radio"]:checked ~ img{
    opacity: 1;
  }

  .slider input[type="radio"] + label{
   position: relative;
    z-index: 50;
    margin: 10px;
    display: block;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    border: 2px solid black;
    cursor: pointer;
  }

  .slider input[type="radio"]:checked + label{
   background-color: black;
   border: 2px solid white;
 }

 #texto {
     height: 43%;
     width: 99%;
     padding: 30px;
     margin: 0 0 0px 5px;
     *text-align: center;
     
     *background-color: yellow;
     border-radius: 8px;
     color: white;
     
 }

 #texto ol{
     padding: 10px;
     color: white;
 }

.go-top-container{
    position: fixed;
    top: 70%;
    left: 97%;
    width: 3rem;
    height: 3rem;
    z-index: -1;
    *background-color: yellow;
}

.go-top-button{
    width: 0rem;
    height: 0rem;
    *background-color: #2071b2;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.3s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.go-top-button i{
    position: absolute;
    font-size: 1.2rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: #fff;
    transition: -2s;
}

.show{
    z-index: 10;
}

.show .go-top-button{
    animation: popup .3s ease-in-out;
    width: 2.0rem;
    height: 2.0rem;
    z-index: 11;
}

.show i {
    transform: translate(-50%, -50%) scale(1);
}

 #drawer{
    background-color: rgba(200, 200, 173, 0.7);
    position: absolute;
    height: 50vh;
    width: 30%;
    left: 70%;
    border-radius: 8px;
    min-width: 200px;
    border-bottom: 2px solid darkblue;
    border-left: 2px solid darkblue;
    position: fixed;
    z-index: 9;
    display: none;     
}

@keyframes cambio{
    0%{margin-left: 0%;}
    30%{margin-left: 0%;}

    35%{margin-left: -133%;}
    65%{margin-left: -133%;}

    70%{margin-left: -267%;}
    100%{margin-left: -267%;} 
}

@keyframes movimiento{
    from{transform: translateX(-500px);}
    to{transform: translateX(30px);}
}
@keyframes movimiento2{
    from{transform: translateX(500px);}
    to{transform: translateX(15px);}
}
@keyframes movimiento3{
    from{transform: translateY(-500px);}
    to{transform: translateY(30px);}
}
@keyframes movimiento4{
    from{transform: translateY(500px);
        left:32%;}
    to{transform: translateY(-10px);
        left: 32%;}
}
@keyframes popup{
    0%{width: 0rem; height: 0rem;}
    50%{width: 3.5rem; height: 3.5rem;}
    100%{width: 2.5rem; height: 2.5rem;}
}

@media (max-width: 1400px) {
    header nav ul {
        width: 70%;
    }
}



@media (max-width: 1220px) {
    header nav ul {
        width: 85%;
    }

    .tarjeta{
        width: 20%;
    }
}

@media (max-width: 1206px) {
    header nav ul {
        width: 89%;
    }

    .tarjeta{
        width: 17%;
    }
}

@media (max-width: 1170px) {
    .tarjeta{
        width: 19%;
    }
}

@media (max-width: 1050px) {
    header nav ul {
        width: 90%;
    }

    .tarjeta{
        width: 20%;
    }
}

@media (max-width: 1030px) {
    header nav ul {
        width: 90%;
    }

    .tarjeta{
        width: 22%;
    }
}

@media (max-width: 1024px) {
    header nav ul {
        width: 90%;
    }

    .tarjeta{
        height: 90%;
        width: 26%;
    }

    #slider {
        height: 60vh;
        width: 90%;
    }

    #slider img{
    
        width: 77%;
        height: 840px;
    }

    #marquesina{
        height: 10%;
        width: 60%;
        font-size: 1.8rem;
    }

    .tercera article{
        font-size: 1.45rem;
    }

    #ventana{
        height: 92vh;
        width: 82%;
    }

    #imagenes{
        width: 100%;
        flex-direction: column;
    }

    #texto{
        letter-spacing: 3px;
        font-size: 1.5rem;
    }

    .slider{
        width: 80%;
        height: 500px;
        top: 10%;
        left: 15%;
      }
}

@media (max-width: 950px){
    header nav ul {
        width: 90%;
    }

    .tarjeta{
        width: 22%;
    }
}

@media (max-width: 929px){
    #marquesina{
        margin-bottom: -10px;
        font-size: 0.94rem;
        
    }
}

@media (max-width: 900px) {
    header nav ul {
        width: 100%;
    }

    /* #slider{
        height: 390px;
    } */

    /* #slider img{
        width: 75%;
        height: 400px;
    } */
    
    .tarjeta{
        width: 24%;
    }

    #marquesina{
        height: 85px;
        width: 40%;
        margin-bottom: -10px;
        font-size: 0.93rem;  
    }
    
}

@media(max-width: 808px){
    /* #marquesina{
        font-size: 0.84rem;
        
    } */
}

@media (max-width: 780px){
   .tarjeta{
       width: 27%;
   }

   .segunda article:last-child{
    margin-top: 8%;
    }

    #logo h3 {
        font-size: 1rem;
        
    }

    #marquesina{
        height: 12%;
        width: 70%;
        font-size: 1.6rem;
    }

    #cerrarModal{
        height: 37px;
        width: 60px;
        margin-right: 5px;
    }
}

@media (max-width: 770px){
    .tercera article{
        font-size: 1.05rem;
    }

    #imagenes{
        height: 70%;
        display: flex;
        justify-content: space-between; 
    }

    .slider{
        width: 100%;
        top: 5%;
        left: 5.5%;
      }
}

@media (max-width: 750px){
    header{
        justify-content: space-around;
    }

    header nav:nth-child(3){
        display: none;
    }
    #drawer{
        background-color: rgba(200, 200, 173, 0.7);
        position: absolute;
        height: 50vh;
        width: 30%;
        left: 70%;
        border-radius: 8px;
        min-width: 200px;
        border-bottom: 2px solid darkblue;
        border-left: 2px solid darkblue;
        position: fixed;
        z-index: 9;
        display: none;     
    }
    
    #drawer ul{
        flex-direction: column;
        justify-content: space-around;
        height: 50%;
        margin-top: 80px;
    }

    #drawer ul li a {
        color: rgb(30,30,55);
        
    }

    header button{
        transform: translateY(0%);
        z-index: 12;
        border: none;
        background: transparent;
        
    }

    #logo h3{
        display: none;
    }

    .tarjeta{
        width: 26%;
    }
}

@media (max-width: 690px){
    .tarjeta{
        width: 29%;
    }
}

@media(max-width: 675px){
    #marquesina{
        width: 50%;  
    }

    #slider{
        width: 90%;
    }

    .go-top-container{
        top: 70%;
        left: 93%;
        
    }
}

@media (max-width: 590px) {
    #drawer  {
        left: 66%;
    }

    #slider img {
        height: 450px;
    }

    .tarjeta{
        width: 32%;
    }

    #marquesina{
        height: 14%;
        width: 80%; 
        font-size: 1.1rem;
        padding-top: 20px;
    }

    .tercera h2{
        font-size: 1.5rem;
    }

    .tercera article{
        font-size: 0.8rem;
    }

    #modal{
        height: 150vh;
        align-items: flex-start;
    }
     
    #ventana{
        width: 90%;
        margin: 0 auto;
    }
    
    #cerrarModal{
        height: 28px;
        width: 51px;
        color: white;
        border-radius: 2px;
        font-size: 0.67rem;
        position: absolute;
        left: 80%;
        
    }
    
    #imagenes{
        height: 55%;
    }
    
    #imagenes h1{
        font-size: 1rem;
    }

    .slider{
        width: 80%;
        height: 270px;
        top: 10%;
        left: 15%;
      }

      #texto {
        font-size: 0.77rem;
        padding: 10px;
        margin: 15px 0 0px 2px;
    }
}

@media (max-width: 534px) {
    #slider{
        width: 90%;
    }
    #marquesina{
        width: 70%;  
    }

    .tarjeta{
        width: 32%;
    }
}

 @media (max-width: 510px) {
    #drawer {
        left: 60%;
    }

    .segunda{
        height: 146.5vh;
    }

    .productos{
        height: 68vh;
    }

    .tarjeta{
        height: 63%;
        width: 41%;
    }

    .tarjeta:hover{
        height: 63.7%;
    }

    .segunda article:first-of-type{
        align-items: flex-start
    }

    .segunda article:last-child{
        align-items: flex-end;
    }

    .segunda article:first-of-type div:nth-child(3){
        position: absolute;
        height: 42.84vh;
        top: 155.61%;
        /* top: 155.6vh; */
        left: 4.9%;
    }
    
    #ajos{
        position: absolute;
        height: 42.84vh;
        top: 155.61%;
        /* top: 155.6vh; */
        left: 54.6%;
    }
    

} 

@media (max-width: 460px) {
    #slider {
        height: 400px;
    }

    #slider img {
        height: 400px;
    }

    #marquesina{
        width: 70%;  
    }

    .tarjeta{
        width: 32%;
    }
}

@media (max-width: 440px) {
    header nav {
        left: 53%;
    }

    .tarjeta{
        width: 47%;
    }

    .segunda article:first-of-type div:nth-child(3){
        left: 1.5%;
    }
    
    #ajos{
        left: 51.5%;
    }
}

@media (max-width: 415px) {
    .segunda div h1 {
        font-size: 1.05rem;
    }

    .tarjeta .descripcion p{
        font-size: 0.89rem;
    }

    #marquesina{
        height: 20%;
        width: 90%;
        font-size: 1.15rem;
        top: 70%;
        padding-top: 6%;
    }

    .tercera article{
        font-size: 0.89rem;
    }

    .tercera h2{
        font-size: 1.15rem;
    }

    #modal{
        height: 150vh;
        align-items: flex-start;
    }
     
    #ventana{
    
        height: 96vh;
        width: 98%;
        margin: 0 auto;
    }
    
    #cerrarModal{
        height: 28px;
        width: 51px;
        color: white;
        border-radius: 2px;
        font-size: 0.67rem;
        position: absolute;
        left: 80%;
        
    }
    
    #imagenes{
        height: 53%;
    }
    
    #imagenes h1{
        font-size: 1rem;
    }

    .slider{
        width: 100%;
        height: 270px;
        top: 10%;
        left: 6%;
      }

      #texto {
        font-size: 0.77rem;
        padding: 10px;
        margin: 16px 0 0px 2px;
    }

}

@media (max-width: 400px) {
    #slider{
        width: 90%;
        height: 360px;
    }

    #marquesina{
        width: 80%; 
        font-size: 0.78rem;
    }
}

@media (max-width: 380px) {
    #drawer {
        left: 47%;
    }

    #slider {
        height: 50vh;
        width: 90%;
    }

    #slider img{
    
        width: 77%;
        height: 400px;
    }

    #marquesina{
        height: 18%;
        width: 96%;
        font-size: 1rem;
        top: 70%;
        padding-top: 8%;
    }

    .segunda div h1 {
        font-size: 1rem;
    }

    .tarjeta .descripcion p{
        font-size: 0.85rem;
        color: whitesmoke;
    }

    .tercera h2 {
        font-size: 1.3rem;
    }

    .tercera article{
        font-size: 0.85rem;
    }

    #modal{
        align-items: flex-start;
    }
     
    #ventana{
    
        height: 95vh;
        width: 98%;
        margin: 0 auto;
    }
    
    #cerrarModal{
        height: 30px;
        width: 53px;
        color: white;
        border-radius: 4px;
        font-size: 0.67rem;
        position: absolute;
        left: 80%;
        
    }
    
    #imagenes{
        height: 70%;
    }
    
    #imagenes h1{
        font-size: 1rem;
    }

    .slider{
        width: 100%;
        height: 270px;
        top: 10%;
        left: 6%;
      }

      #texto {
        font-size: 0.77rem;
        padding: 10px;
        margin: 20px 0 0px 2px;
    }

}

@media (max-width: 380px){
.tercera h2{
    font-size: 1.2rem;
}

    .tercera article{
        font-size: 0.75rem;
        min-width: 350px;
    }

    #modal{
        align-items: flex-start;
    }
     
    #ventana{
    
        height: 95vh;
        width: 98%;
        margin: 0 auto;
    }
    
    #cerrarModal{
        height: 25px;
        width: 48px;
        color: white;
        border-radius: 4px;
        font-size: 0.57rem;
        position: absolute;
        left: 80%;
        
    }
    
    #imagenes{
        height: 50%;
    }
    
    #imagenes h1{
        font-size: 0.85rem;
    }

    .slider{
        width: 100%;
        height: 270px;
        top: 10%;
        left: 6%;
      }

      #texto {
        font-size: 0.67rem;
        padding: 10px;
        margin: 20px 0 0px 2px;
        letter-spacing: 2px;
    }
}

@media (max-width: 330px) {
    #drawer  {
        left: 39%;
    }

    .segunda article:first-of-type div:nth-child(3){
        left: 1%;
        top: 158.6%;
    }
    
    #ajos{
        left: 51%;
        top: 158.6%;
    }

    #imagenes{
        height: 60%;
    }

    .slider{
        height: 240px;
    }

    .tercera article{
       min-width: 300px;
    }
}

@media (max-width: 320px) {
    #drawer  {
        left: 39%;
    }

    .segunda article:first-of-type div:nth-child(3){
        left: 1.5%;
        top: 158.6%;
    }
    
    #ajos{
        left: 51.5%;
        top: 158.6%;
    }

    .tarjeta .descripcion p{
        font-size: 0.75rem;
    }

    #slider{
        width: 80%;
        height: 330px;
    }

    #marquesina{
        width: 80%; 
        font-size: 0.78rem;
        margin-bottom: 20px;
    }
}

/*  */

@media (max-width: 301px){
    #marquesina{
        width: 85%; 
        font-size: 0.70rem;
    }
}

@media (max-width: 290px) {
    #drawer  {
        left: 30%;
    }

    #slider{
        width: 100%;
    }

    #marquesina{
        height: 14%;
        width: 90%; 
        font-size: 0.68rem;
    }

    .tarjeta{
        width: 47.5%;
        min-width: 120px;
    }

    .segunda article:first-of-type, .segunda article:last-child{
        justify-content: flex-start;
    }

    .segunda article:first-of-type div:first-child, .segunda article:last-child div:nth-child(2) {
        margin-right: 2%;
        margin-left: 1.6%;
    }

    .segunda article:first-of-type div:nth-child(3){
        left: 1.5%;
    }
    
    #ajos{
        left: 51%;
    }

    .segunda div h1 {
        font-size: 0.95rem;
    }

    .tarjeta .descripcion p{
        font-size: 0.75rem;
        color: whitesmoke;
    }
     
    .tercera h2{
        font-size: 0.95rem;
    }

    .tercera article{
        font-size: 0.75rem;
        min-width: 270px;
    }
    
    #imagenes{
        height: 50%;
    }
    .slider{
        height: 220px;
      }
}

/* --------------------------------------------------------------------------------------------- */

@media (max-height: 1380px){
    .segunda article:last-child{
     margin-top: 3%;
    }
}

@media (max-height: 830px){
    .segunda article:first-of-type div:nth-child(3){
        
        top: 155.5%;
    }
    
    #ajos{
        
        top: 155.5%;
    }

    .segunda article:last-child{
        *padding-bottom: 3%;
    }
}

@media (max-height: 823px){
    .segunda article:first-of-type div:nth-child(3){
        
        top: 153.5%;
    }
    
    #ajos{
        
        top: 153.5%;
    }

    .segunda article:last-child{
        *padding-bottom: 3%;
    }
}

@media (max-height: 814px){
    .segunda article:first-of-type div:nth-child(3){
        
        top: 153.6%;
    }
    
    #ajos{
        
        top: 153.6%;
    }

    .segunda article:last-child{
        *padding-bottom: 2%;
    }
}

@media (max-height: 760px){
    .segunda article:first-of-type div:nth-child(3){
        
        top: 155.7%;
    }
    
    #ajos{
        
        top: 155.7%;
    }

    .segunda article:last-child{
        padding-bottom: 2%;
    }
}

@media (max-height: 740px){
    .segunda article:first-of-type div:nth-child(3){
        
        top: 154.3%;
    }
    
    #ajos{
        
        top: 154.3%;
    }

    .segunda article:last-child{
        padding-bottom: 2%;
    }
}

@media (max-height: 735px){
    .segunda article:first-of-type div:nth-child(3){
        
        top: 154.3%;
    }
    
    #ajos{
        
        top: 154.3%;
    }

    .segunda article:last-child{
        padding-bottom: 2%;
    }
}

@media (max-height: 680px){

    .segunda article:first-of-type div:nth-child(3){
        
        top: 154.5%;
    }
    
    #ajos{
        
        top: 154.5%;
    }

    .segunda article:last-child{
        padding-bottom: 2%;
    }
}

@media (max-height: 670px){

    .segunda article:first-of-type div:nth-child(3){
        
        top: 154.8%;
    }
    
    #ajos{
        
        top: 154.8%;
    }
}
/*  */
@media (max-height: 660px){
    .segunda article:first-of-type div:nth-child(3){
        
        top: 152%;
    }
    
    #ajos{
        
        top: 152%;
    }
    
    /* .segunda article:last-child{
        height: 69vh;
        padding-bottom: 3%;
    }

    .segunda article:last-child .tarjeta:nth-child(2), .segunda article:last-child .tarjeta:last-child{
        height: 62%;
    } */
}
/*  */

@media (max-height: 655px){
    .segunda article:first-of-type div:nth-child(3){
        
        top: 154.7%;
    }
    
    #ajos{
        
        top: 154.7%;
    }
}
@media (max-height: 650px){
    .segunda article:first-of-type div:nth-child(3){
        
        top: 157%;
    }
    
    #ajos{
        
        top: 157%;
    }

    .segunda article:last-child{
        padding-bottom: 4%;
    }
}

@media (max-height: 641px){
    .segunda article:first-of-type div:nth-child(3){
        
        top: 155%;
    }
    
    #ajos{
        
        top: 155%;
    }
}

@media (max-height: 575px){
    .segunda article:first-of-type div:nth-child(3){
        
        top: 155.7%;
    }
    
    #ajos{
        
        top: 155.7%;
    }

    .segunda article:last-child{
        padding-bottom: 7%;
    }
}