@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
  }

.seccion {
    height: 100vh;
    width: 100%;
}

#logo img {
    height: 50px;
}

#logo h3 {
    color: rgb(255,255,255);
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    
}

header {
    height: 8vh;
    
    display: flex;
    justify-content: space-around;
    /* *background-color: rgb(242, 242, 242); */
    background: linear-gradient(-3deg,rgba( 48, 68, 128) -10%, rgba(58, 78, 138) 35%,	rgb(38, 58, 118) 90%);
    box-shadow: 0px 2px 6px 1px whitesmoke;
    z-index: 3;
}

header #logo {
    height: 100%;
    width: 33%;
    display: flex;
    align-items: center;
    animation-name: movimiento;
    animation-duration: 1000ms ;
    animation-fill-mode: backwards;
    
}

header nav {
    height: 100%;
    width: 60%;
    *background-color: brown;
    display: flex;
    justify-content: flex-end;
    animation-name: movimiento2;
    animation-duration: 1000ms ;
    animation-fill-mode: backwards;
}

header nav ul {
    height: 100%;
    width: 60%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    *background-color: darkgoldenrod;
}

header button{
    /* *position: absolute;
    *top: 0;
    *left: 16px; */
    transform: translateY(-100%);
    *z-index: 9;
    border: none;
    background: transparent;
    
}

nav ul li a {
    text-decoration: none;
    color: rgb(255,255,255);
    text-shadow: 0px -1px black;
    letter-spacing: 2px;
    font-family: 'Ubuntu', sans-serif;
    transition: 0.4s all; 
    
}

nav ul li {
   *background-color: darkmagenta;
    
}

nav ul li a::before {
    margin-right: 5px;
    content: "[";
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}

nav ul li a::after {
    margin-left: 5px;
    content: "]";
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}

nav ul li a::before,
nav ul li a::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

nav ul li a:hover::before,
nav ul li a:hover::after,
nav ul li a:focus::before,
nav ul li a:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}

nav ul li a:hover{
    color: rgb(179, 184, 199);
    
}

nav ul li a:active{
    color: rgb(179, 184, 199);
    
}

.primera{
    background: linear-gradient(-3deg,rgba(	140, 166, 241, 0.1) -10%, rgba(150, 176, 251) 35%,rgba(155, 181, 255 ) 90%);
}

#slider{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    *box-shadow: 3px 3px 3px 1px black;
    min-width: 300px;
    height: 65vh;
    
}

#slider ul{
    display: flex;
    width: 400%;
    animation: cambio 13s infinite alternate;
    animation-timing-function: ease-in-out;
    
}

#slider ul:hover{
    animation-play-state: paused;
    cursor: pointer;
}

#slider li{
    width: 100%;
    list-style: none;
}

#slider img{
    
    width: 77%;
    height: 600px;
}

#containSlide{
    animation-name: movimiento3;
    animation-duration: 1000ms ;
    animation-fill-mode: backwards;
    margin-top: 2px;
    *padding-right: 5px;
    /* background: linear-gradient(-3deg,rgba(	140, 166, 241, 0.1) -10%, rgba(150, 176, 251) 35%,rgba(155, 181, 255 ) 90%); */
    display: flex;
    justify-content: center;
    background-color: black;
}

#containMarquesina{
    *background-color: #2071b2;
    height: 26vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#marquesina{
    height: 50%;
    width: 30%;
    padding: 10px;
    margin: 0 auto;
    word-wrap: break-word;
    text-align: center;
    letter-spacing: 4px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 6px;
    animation-name: movimiento4;
    animation-duration: 1000ms ;
    animation-fill-mode: backwards;
    
}

.segunda{
    background-color: rgba(99, 164, 214, 0.97);
    text-align: center;
    padding-top: 0.3em;
    height: 100vh;
}

.segunda div h1 {
    font-family: 'Stalinist One', cursive;
    font-size: 1.5rem;
    letter-spacing: 3px;
    color: whitesmoke;
    opacity: 0.93;
}

.productos{
    height: 100%;
    display: flex;
    justify-content: space-around;
    *background-color: black;
}

.cards{
    *background-color: white;
    height: 88%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.tarjeta{
   height: 45%;
    width: 70%;
    border-radius: 8px;
    border: 0.8px solid white;
    padding-top: 4px;
    min-width: 220px;
    max-width: 300px;
    cursor: pointer;
    background-color: rgba(99, 164, 214, 0.6);
    transition: 0.3s all;
    opacity: 0.8;
    
}

.tarjeta .foto{
    height: 72%;
    width: 98%;
    *opacity: 0.75;
    border-radius: 8px;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.tarjeta .descripcion{
    height: 27%;
    margin-top: 4px;
    display: flex;
    border-radius: 6px;
    border: 0.5px solid white;
}

.tarjeta .descripcion p{
    margin: auto;
    color: whitesmoke;
    font-family: 'Big Shoulders Stencil Display', cursive;
    letter-spacing: 3px;
}

.tarjeta:hover{
    *height: 42%;
    border: 3px solid white;
    opacity: 1;
    
}


#tejida{
    background-image: url(img/tejida.jpg);
}

#extruida{
    background-image: url(img/extruida.jpg);
}

#protectora{
    background-image: url(img/protectora.jpg);
}

#garlic{
    background-image: url(img/garlic.jpg);
}

#precintos{
    background-image: url(img/precintos.jpg);
}

#esponja{
    background-image: url(img/esponja1edit.jpg);
}

.tercera{
    *background-image: url(img/fondoNegroRed.jpg);
    background: linear-gradient(-3deg,rgba(	140, 166, 241, 0.1) -10%, rgba(150, 176, 251) 35%,rgba(155, 181, 255 ) 90%);
    color:black;
    display: flex;
    flex-direction: column;
   justify-content: space-around;
   align-items: center;
   background-repeat: no-repeat;
   background-size: 100%;
}

.tercera h2{
    font-family: 'Stalinist One', cursive;
    letter-spacing: 3px;
    font-size: 1.5rem;
}

.contain{
    height: 20vh;
    width: 94%;
    margin-top: 2px;
    *background-color: red;
}

.p2, .p4{
    display: flex;
    justify-content: flex-end;
}

.p2, .p3, .p4{
    *height: 22vh;
}

.parrafo{
    height: 100%;
    width: 54%;
    min-width: 520px;
    background-color: rgba(10,10,10,0.9);
    padding: 15px 5px 0 5px;
    text-align: center;
    border-radius: 8px;
    color: white;
    letter-spacing: 0.5px;
    line-height: 25px;
    *background-image: url(img/fondoNegroRed.jpg);
    transition: all 0.3s;
    cursor: pointer;
    overflow: auto;

}

.parrafo:hover{
    transform: scale(1.08);
    box-shadow: 26px 26px 31px -17px rgba(0,0,0,0.75);
    background-color: rgb(0,0,0);
    
}

.first{
    *width: 47%;
    font-size: 0.89rem;
}

.resto{
    padding-top: 20px;
    line-height: 30px;
}

.cuarta{
    height: 65vh;
    background-color: rgb(38, 58, 118); 
}

.cuarta div:first-child{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.cuarta div:first-child h2{
    font-family: 'Stalinist One', cursive;
    font-size: 1.5rem;
}

.cuarta div:last-child{
    height: 70%;
    display: flex;
    justify-content: space-around;
    
}

.cuarta div:last-child figure{
    height: 90%;
    width: 20%;
    background-color: rgb(212, 220, 245);
    text-align: center;
    padding: 30px 0 10px 0;
    border-radius: 10px;
    border: 2px solid rgba(75, 119, 250, 0.5);
    transition: all 0.3s;
    word-wrap: break-word;
}

.cuarta div:last-child figure:first-child:hover{
    border: 4px solid rgb(52, 240, 115);
    cursor: pointer;
}

.cuarta div:last-child figure:nth-child(2):hover{
    border: 4px solid rgb(7, 45, 255);
    cursor: pointer;
}

.cuarta div:last-child figure:last-child:hover{
    border: 4px solid rgb(245, 56, 31);
    cursor: pointer;
}

.cuarta div:last-child figure img{
    height: 35%;
    margin-bottom: 60px;
}

footer{
    height: 35vh;
}

#foot{
    background-color: black;
    display: flex;
    height: 90%;
    justify-content: space-around;
    align-items: center;
}

.foot-part{
    height: 100%;
    width: 33%;
    *background-color: white;
}

#foot .foot-part{
    height: 80%;
    *background-color: #2071b2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
}

#link-reload{
    *background-color: whitesmoke;
    *height: 30%;
}

#list-links{
    height: 65%;
    *background-color: blue;
}

#list-links ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#foot .foot-part:last-child{
    flex-direction: row;
    justify-content: center;
    color: white;
    font-size: 0.8rem;
}

#link-github{
    font-family: 'Satisfy', cursive;
}

#span-dev{
    *background-color:blue;
    width: 27%;
}

.foot-part a{
    text-decoration: none;
    color: white;
}

.foot-part a:hover{
    text-decoration: underline;
}

#img-icon{
    height: 60px;
    width: 60px;
}

#copyright{
    background-color: gray;
    text-align: center;
}

#modal {
    position: absolute;
    display: flex;
    display: none;
    top: 100vh;
    height: 100vh;
    width: 100%;
    padding-top: 13px;
    background-color: rgba(0, 0, 0, 0.6);
    align-items: center;
}

#ventana{
    
    margin: 0 auto 0 10%;
    height: 95vh;
    width: 80%;
    background-color: rgba(99, 164, 214, 0.7);
    border-radius: 8px;
    border: 2px solid white;
    *background-image: url(img/cube-background-2484131_1920.jpg);
    *background-position: 210% 340%;/*fondoEjecutivo*/
    background-position: center center;
    overflow: auto;
}

#cerrarModal{
    height: 37px;
    width: 60px;
    align-self: flex-start;
    margin-right: 50px;
    background-color: tomato;
    color: white;
    border: 2px solid white;
    border-radius: 4px;
    font-size: 0.80rem;
    cursor: pointer;
}

#imagenes{
    height: 57%;
    *background-color: tomato;
    display: flex;
    justify-content: space-between;
    padding-right: 10%;
    border-radius: 8px;
    *background-image: url(img/fondoRedRoja.jpg);
}

#imagenes h1 {
    color: white;
    align-self: center;
}

.slider{
    width: 45%;
    height: 380px;
    position: relative;
    top: 20px;
    left: 10%;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-shadow: 0 0 0 2px,
                0 5px 8px;
  }

  .slider img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.7s;
  }

  .slider input[type="radio"]{
    display: none;
  }
  
  
  .slider input[type="radio"]:checked ~ img{
    opacity: 1;
  }

  .slider input[type="radio"] + label{
   position: relative;
    z-index: 50;
    margin: 10px;
    display: block;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    border: 2px solid black;
    cursor: pointer;
  }

  .slider input[type="radio"]:checked + label{
   background-color: black;
   border: 2px solid white;
 }

 #texto {
     height: 43%;
     width: 99%;
     padding: 30px;
     margin: 0 0 0px 5px;
     *text-align: center;
     
     *background-color: yellow;
     border-radius: 8px;
     color: white;
     
 }

 #texto ol{
     padding: 10px;
     color: white;
 }

.go-top-container{
    position: fixed;
    top: 70%;
    left: 97%;
    width: 3rem;
    height: 3rem;
    z-index: -1;
    *background-color: yellow;
}

.go-top-button{
    width: 0rem;
    height: 0rem;
    *background-color: #2071b2;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.3s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.go-top-button i{
    position: absolute;
    font-size: 1.2rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: #fff;
    transition: -2s;
}

.show{
    z-index: 10;
}

.show .go-top-button{
    animation: popup .3s ease-in-out;
    width: 2.0rem;
    height: 2.0rem;
    z-index: 11;
}

.show i {
    transform: translate(-50%, -50%) scale(1);
}

 #drawer{
    background-color: rgba(200, 200, 173, 0.7);
    position: absolute;
    height: 50vh;
    width: 30%;
    left: 70%;
    border-radius: 8px;
    min-width: 200px;
    border-bottom: 2px solid darkblue;
    border-left: 2px solid darkblue;
    position: fixed;
    z-index: 9;
    display: none;     
}

@keyframes cambio{
    0%{margin-left: 0%;}
    30%{margin-left: 0%;}

    35%{margin-left: -133%;}
    65%{margin-left: -133%;}

    70%{margin-left: -267%;}
    100%{margin-left: -267%;} 
}

@keyframes movimiento{
    from{transform: translateX(-500px);}
    to{transform: translateX(30px);}
}
@keyframes movimiento2{
    from{transform: translateX(500px);}
    to{transform: translateX(15px);}
}
@keyframes movimiento3{
    from{transform: translateY(-500px);}
    to{transform: translateY(30px);}
}
@keyframes movimiento4{
    from{transform: translateY(500px);
        left:32%;}
    to{transform: translateY(-10px);
        left: 32%;}
}
@keyframes popup{
    0%{width: 0rem; height: 0rem;}
    50%{width: 3.5rem; height: 3.5rem;}
    100%{width: 2.5rem; height: 2.5rem;}
}

@media (max-width: 1400px) {
    header nav ul {
        width: 70%;
    }
}



@media (max-width: 1220px) {
    header nav ul {
        width: 85%;
    }

}

@media (max-width: 1206px) {
    header nav ul {
        width: 89%;
    }

}

@media (max-width: 1170px) {
}

@media (max-width: 1050px) {
    header nav ul {
        width: 90%;
    }

}

@media (max-width: 1030px) {
    header nav ul {
        width: 90%;
    }

}

@media (max-width: 1024px) {
    header nav ul {
        width: 90%;
    }


    #slider {
        height: 60vh;
        width: 90%;
    }

    #slider img{
    
        width: 77%;
        height: 840px;
    }

    #marquesina{
        width: 60%;
        font-size: 1.8rem;
    }

    

    #ventana{
        height: 92vh;
        width: 82%;
    }

    #imagenes{
        width: 100%;
        flex-direction: column;
    }

    #texto{
        letter-spacing: 3px;
        font-size: 1.5rem;
    }

    .slider{
        width: 80%;
        height: 500px;
        top: 10%;
        left: 15%;
      }

      .parrafo{
        width: 60%;
        line-height: 36px;
        letter-spacing: 2px;
    }

    .resto{
        padding-top: 40px;
    }
    
    .cuarta div:last-child figure{
        height: 60%;
        font-size: 1rem;
        word-wrap: break-word
    }
    
    .cuarta div:last-child figure img{
        height: 30%;
        margin-bottom: 60px;
    }
}

@media (max-width: 950px){
    header nav ul {
        width: 90%;
    }
    
    .cuarta div:last-child{
        height: 50%;
        
    }
    .cuarta div:last-child figure{
        font-size: 0.7rem;
    }

    #foot{
        height: 50%;
        font-size: 0.9rem;
    }
    #foot .foot-part:last-child{
        height: 40%;
        flex-direction: column;
        justify-content: space-around;
        color: white;
        font-size: 0.8rem;
    }

    #span-dev{
        width: 90%;
    }
}

@media (max-width: 929px){
    #marquesina{
        margin-bottom: -10px;
        font-size: 0.94rem;
        
    }
}

@media (max-width: 900px) {
    header nav ul {
        width: 100%;
    }

    /* #slider{
        height: 390px;
    } */

    /* #slider img{
        width: 75%;
        height: 400px;
    } */
    
   
    #marquesina{
       height: 60%;
        width: 40%;
        *margin-bottom: -10px;
        font-size: 0.7rem;  
    }

    .segunda div h1, .tercera h2, .cuarta div:first-child h2{
       font-size: 0.93rem;
    }

    .contain{
        height: 20vh;
        width: 94%;
        margin-top: 0;
    }
    
    .p2, .p4{
        display: flex;
        justify-content: flex-end;
    }
    
    .p2, .p3, .p4{
        *height: 22vh;
    }
    
    .parrafo{
        height: 100%;
        width: 80%;
        min-width: 520px;
        padding: 15px 5px 0 5px;
        text-align: center;
        color: white;
        letter-spacing: 0.5px;
        line-height: 15px;
        font-size: 0.79rem;
    
    }
    
    .first{
        *width: 47%;
        font-size: 0.69rem;
    }
    
    .resto{
        padding-top: 15px;
        line-height: 15px;
    }
    
    .cuarta div:first-child span{
        font-size: 0.75rem;
    }

    .cuarta div:last-child figure{
        height: 100%;
        width: 20%;
        font-size: 0.7rem;
    }
    
}

@media(max-width: 808px){
    /* #marquesina{
        font-size: 0.84rem;
        
    } */
}

@media (max-width: 780px){
    #logo h3 {
        font-size: 1rem;
        
    }
    
    .cards{
        *background-color: white;
        width: 30%;

    }

    .tarjeta{
        width: 100%;
    }

    #marquesina{
        
        width: 70%;
        font-size: 1.6rem;
    }

    #cerrarModal{
        height: 37px;
        width: 60px;
        margin-right: 5px;
    }
}

@media (max-width: 770px){
    

    #imagenes{
        height: 70%;
        display: flex;
        justify-content: space-between; 
    }

    .slider{
        width: 100%;
        top: 5%;
        left: 5.5%;
      }

    .contain{
        display: flex;
        justify-content: center;
    }  

    .parrafo{
        width: 90%;
        line-height: 29px;
        letter-spacing: 1px;
    }

    .resto{
        padding-top: 30px;
    }

    .cuarta div:last-child figure{
        font-size: 0.9rem;
        
    }

}

@media (max-width: 750px){
    header{
        justify-content: space-around;
    }

    header nav:nth-child(3){
        display: none;
    }
    #drawer{
        background-color: rgba(255, 255, 255, 0.9);
        position: absolute;
        height: 50vh;
        width: 30%;
        left: 70%;
        border-radius: 8px;
        min-width: 200px;
        border-bottom: 2px solid rgb(37, 70, 177);
        border-left: 2px solid rgb(37, 70, 177);
        position: fixed;
        z-index: 9;
        display: none;     
    }
    
    #drawer ul{
        flex-direction: column;
        justify-content: space-around;
        height: 50%;
        margin-top: 80px;
    }

    #drawer ul li a {
        color: rgb(37, 70, 177);
        
    }

    header button{
        transform: translateY(0%);
        z-index: 12;
        border: none;
        background: transparent;
        color: white;
        
    }

    #logo h3{
        display: none;
    }

    
}

@media(max-width: 675px){
    #marquesina{
        width: 50%;  
    }

    #slider{
        width: 90%;
    }

    .tarjeta{
        min-width: 150px;
    }

    .go-top-container{
        top: 70%;
        left: 93%;
        
    }
}

@media (max-width: 590px) {
    #drawer  {
        left: 66%;
    }

    #slider img {
        height: 450px;
    }

    .segunda div h1{
        font-size: 1rem;
    }

    #marquesina{
      
        width: 80%; 
        font-size: 0.9rem;
        padding-top: 20px;
    }

    .tercera h2{
        font-size: 1.5rem;
    }

   

    #modal{
        height: 150vh;
        align-items: flex-start;
    }
     
    #ventana{
        width: 90%;
        margin: 0 auto;
    }
    
    #cerrarModal{
        height: 28px;
        width: 51px;
        color: white;
        border-radius: 2px;
        font-size: 0.67rem;
        position: absolute;
        left: 80%;
        
    }
    
    #imagenes{
        height: 60%;
    }
    
    #imagenes h1{
        font-size: 1rem;
        margin-top: 50px;
    }

    .slider{
        width: 80%;
        height: 270px;
        top: 10%;
        left: 15%;
      }

      #texto {
        font-size: 0.77rem;
        padding: 10px;
        margin: 15px 0 0px 2px;
    }

    .contain{
        width: 100%;
    }

    .parrafo{
        width: 90%;
        line-height: 20px;
        font-size: 0.8rem;
        letter-spacing: 1px;
        min-width: 400px;
    }

    .first{
        font-size: 0.75rem;
    }

    .resto{
        padding-top: 20px;
        line-height: 23px;
    }

    .cuarta div:first-child{
        font-size: 0.8rem;
    }
    
    .cuarta div:first-child h2{
        font-size: 1rem;
    }
    
    .cuarta div:last-child{
        height: 70%;
    }
    
    .cuarta div:last-child figure{
        height: 90%;
        width: 30%;
        font-size: 0.8rem;
    }
    
    .cuarta div:last-child figure img{
        height: 30%;
    }

    #foot{
        height: 90%;
        font-size: 0.9rem;
    }

    #foot .foot-part:first-child{
        height: 50%;
    }

    #span-dev{
        width: 100%;
    }
}

@media (max-width: 534px) {
    #slider{
        width: 90%;
    }
    #marquesina{
        width: 70%;  
    }

   
}

 @media (max-width: 510px) {
    #drawer {
        left: 60%;
    }

    .productos{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .cards{
        height: 32%;
        width: 100%;
        flex-direction: row;
    }

    .tarjeta{
        height: 99%;
        width: 40%;
    }

} 

@media (max-width: 460px) {
    #slider {
        height: 400px;
    }

    #slider img {
        height: 400px;
    }

    #marquesina{
        width: 70%;  
        font-size: 0.8rem;
    }

    .parrafo{
        font-size: 0.6rem;
        padding-top: 10px;
    }

    .resto{
        padding-top: 16px;
    }

    #foot{
        height: 90%;
        font-size: 0.7rem;
    }

    #foot .foot-part:first-child{
        height: 50%;
    }
    #foot .foot-part:last-child{
        font-size: 0.6rem;
        height: 25%;
    }
    
}

@media (max-width: 440px) {
    header nav {
        left: 53%;
    }

    .segunda div h1{
        font-size: 0.85rem;
    }
    .tarjeta{
        width: 45%;
    }
}

@media (max-width: 415px) {
    .segunda div h1 {
        font-size: 0.86rem;
    }

    .tarjeta .descripcion p{
        font-size: 0.85rem;
    }

    #marquesina{
        
        width: 90%;
        font-size: 0.79rem;
        padding-top: 6%;
    }

    

    .tercera h2{
        font-size: 0.86rem;
    }

    #modal{
        height: 150vh;
        align-items: flex-start;
    }
     
    #ventana{
    
        height: 96vh;
        width: 98%;
        margin: 0 auto;
    }
    
    #cerrarModal{
        height: 28px;
        width: 51px;
        color: white;
        border-radius: 2px;
        font-size: 0.67rem;
        position: absolute;
        left: 80%;
        
    }
    
    #imagenes{
        *height: 60%;
    }
    
    #imagenes h1{
        font-size: 1rem;
    }

    .slider{
        width: 100%;
        height: 270px;
        top: 10%;
        left: 6%;
      }

      #texto {
        font-size: 0.77rem;
        padding: 10px;
        margin: 16px 0 0px 2px;
    }

    
    footer #pie{
        font-size: 0.6rem;
        height: 75%;
    }

    footer #pie div:last-child{
        font-size: 0.6rem;
    }

}

@media (max-width: 400px) {
    #slider{
        width: 90%;
        height: 360px;
    }

    #marquesina{
        width: 80%; 
        font-size: 0.7rem;
    }
}

@media (max-width: 380px) {
    #drawer {
        left: 47%;
    }

    #slider {
        height: 50vh;
        width: 90%;
    }

    #slider img{
    
        width: 77%;
        height: 400px;
    }

    #marquesina{
        width: 96%;
        font-size: 0.73rem;
        line-height: 25px;
        padding: 15px 0 0 0;
    }

    .segunda div h1 {
        font-size: 0.78rem;
    }

    .tarjeta .descripcion p{
        font-size: 0.75rem;
        color: whitesmoke;
    }

    .tercera h2{
        font-size: 0.78rem;
    }
    
        #modal{
            align-items: flex-start;
        }
         
        #ventana{
        
            height: 95vh;
            width: 98%;
            margin: 0 auto;
        }
        
        #cerrarModal{
            height: 25px;
            width: 48px;
            color: white;
            border-radius: 4px;
            font-size: 0.57rem;
            position: absolute;
            left: 80%;
            
        }
        
        #imagenes{
            height: 50%;
        }
        
        #imagenes h1{
            font-size: 0.85rem;
        }
    
        .slider{
            width: 100%;
            height: 270px;
            top: 10%;
            left: 6%;
          }
    
          #texto {
            font-size: 0.67rem;
            padding: 10px;
            margin: 20px 0 0px 2px;
            letter-spacing: 2px;
        }
    
        .contain{
            width: 100%;
        }
    
        .parrafo{
            width: 96%;
            line-height: 20px;
            font-size: 0.6rem;
            letter-spacing: 1px;
            min-width: 340px;
        }
    
        .first{
            font-size: 0.55rem;
            line-height: 18px;
        }
    
        .resto{
            padding-top: 14px;
            line-height: 23px;
        }
}

@media(max-width: 370px){
    .parrafo{
        font-size: 0.7rem;
        letter-spacing: 1px;
        min-width: 300px;
    }

    .first{
        font-size: 0.65rem;
        line-height: 14px;
        padding-top: 8px;
        *letter-spacing: 1px;
    }

    .resto{
        padding-top: 11px;
        line-height: 17px;
    }
}

@media (max-width: 330px) {
    #drawer  {
        left: 39%;
    }

    #imagenes{
        height: 60%;
    }

    .slider{
        height: 240px;
    }

    #marquesina{
        width: 90%; 
        font-size: 0.6rem;
        padding: 12px 0 0 0;
    }

    .parrafo{
        width: 96%;
        line-height: 10px;
        font-size: 0.6rem;
        letter-spacing: 1px;
        min-width: 300px;
    }

    .first{
        font-size: 0.52rem;
        line-height: 14px;
        padding-top: 5px;
    }

    .resto{
        padding-top: 11px;
        line-height: 15px;
    }

  
}

@media (max-width: 320px) {
    #drawer  {
        left: 39%;
    }

    .tarjeta .descripcion p{
        font-size: 0.75rem;
    }

    #slider{
        width: 80%;
        height: 330px;
    }

    
}

/*  */

@media (max-width: 301px){
    #marquesina{
        width: 85%; 
        font-size: 0.70rem;
    }
}

@media (max-width: 290px) {
    #drawer  {
        left: 30%;
    }

    #slider{
        width: 100%;
    }

    #marquesina{
        width: 90%; 
        font-size: 0.68rem;
    }
    .segunda div h1 {
        font-size: 0.95rem;
    }

    .tarjeta .descripcion p{
        font-size: 0.75rem;
        color: whitesmoke;
    }
     
    .tercera h2{
        font-size: 0.95rem;
    }
    
    #imagenes{
        height: 50%;
    }
    .slider{
        height: 220px;
      }

      .parrafo{
          min-width: 260px;
      }
}

/* --------------------------------------------------------------------------------------------- */